<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=display-width, initial-scale=1.0">
	<title>	<%= data.patient.name %></title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
	<link rel="stylesheet" href="/css/framazeing.css">
	<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
		<h2>Dashboard</h2>
	<% include includes/navbar.ejs %>
	<a href="/patient/logout">Logout</a>
	<!-- <div class="page-wrapper">
		<div class="container">
			<main class="three-fourths column">
				<h1 class="row">Welcome back, <span id="username">Insert Username</span></h1>
				<div class="row">
					<section class="one-third column">
						<h2>Blood Test</h2>
						<p>Insert blood test report here</p>
					</section>
					<section class="one-third column">
						<h2>Blood Pressure</h2>
						<p>Insert blood pressure report</p>
					</section>
					<section class="one-third column">
						<h2>Heart Rate</h2>
						<p>Insert heart rate report</p>
					</section>
				</div>
				<div class="row">
					<section class="one-half column">
						<h2>Current Medication</h2>
						<p>Your are taking these medicines.</p>
					</section>
					<section class="one-half column">
						<h2>Next Appointment</h2>
						<p>You are to meet Dr. Lorem Ipsum next.</p>
					</section>
				</div>
			</main>
			<aside class="main-sidebar one-fourth column">
				<section class="patient-info">
					<img class="profile-img" alt="User profile image"
					  src="https://img.icons8.com/color/50/000000/circled-user-male-skin-type-6.png">
					<section class="details">
					<h2>Patient 1</h2>
				</section>
				<nav class="dash-nav">
					<ul>
						<li><a href="#">Medical History</a></li>
						<li><a href="#">Medicines Taken</a></li>
					</ul>
				</nav>
			</aside>
		</div>
	</div> -->
	<h3>User Profile</h3>
	Name : <%= data.patient.name %> <br>
	Patient Id : <%= data.patient.patient_id %> <br>
	Gender : <%= data.patient.gender %> <br>
	Age : <%= data.patient.age %> <br>
	Address : <%= data.patient.address %> <br>
	Contact No. : <%= data.patient.contact_no %> <br>
	Citizenship No : <%= data.patient.citizenship_no %> <br>
	Email : <%= data.patient.email %> <br> <br>

	<h3>Health Status</h3>
	Blood Group : <%= data.description[0].blood_group%> <br>
	Allergies : <%= data.description[0].allergies%> <br>
	Heart Rate : <%= data.description[0].heart_rate%>  Beats per minute<br>
	Blood Pressure : <%= data.description[0].blood_pressure%> mmHg  <br>
	Blood Sugar Level : <%= data.description[0].blood_sugar%> mg/dL <br>
	Cholesterol Level : <%= data.description[0].cholesterol_level%> mg/dL <br> <br>


</body>
</html>
