<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=display-width, initial-scale=1.0">
	<title>Your History</title>
	<link rel="stylesheet" href="/fontawesome/css/all.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran">
	<link rel="stylesheet" href="/css/framazeing.css">
	<link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
	<main class="container">
		<div class="container offset-three-columns three-fourths column">
			<section class="row top heading">
				<h1>Medicines</h1>
				<p>Your medication history</p>
			</section>
			<section class="row">
				<section class="twelve columns">
					<h2 class="heading green">Current Medications</h2>
					<%for(var i=0;i < data.medications.length;i++ ){%>
					<%if((data.medications[i].end_date-Date.now()) > 0){%>
						<table style="width:100%">
						<thead>
							<tr>
								<th>Medicine Name</th>
								<th>Amount</th>
								<th>Dose</th>
								<th>Prescribed By</th>
								<th>Prescribed Date</th>
								<th>Prescribed For Days</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%=data.medications[i].medicine_name%></td>
								<td><%=data.medications[i].amount%></td>
								<td><%=data.medications[i].dose%></td>
								<td><%=data.medications[i].prescribed_by%></td>
								<td><%=Date(data.medications[i].prescribed_date)%></td>
								<td><%=data.medications[i].prescribed_for%></td>
							</tr>
						</tbody>
					</table>
					<%}%>
					<%}%>
				</section>
			</section>
			<section class="row">
				<section class="twelve columns">
					<h2 class="heading orange">Past Medications</h2>
					<%for(var i=0;i < data.medications.length;i++ ){%>
					<%if((data.medications[i].end_date-Date.now()) < 0){%>
					<table>
						<thead>
							<tr>
								<th>Medicine Name</th>
								<th>Amount</th>
								<th>Dose</th>
								<th>Prescribed By</th>
								<th>Prescribed Date</th>
								<th>Prescribed For Days</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><%=data.medications[i].medicine_name%></td>
								<td><%=data.medications[i].amount%></td>
								<td><%=data.medications[i].dose%></td>
								<td><%=data.medications[i].prescribed_by%></td>
								<td><%=Date(data.medications[i].prescribed_date)%></td>
								<td><%=data.medications[i].prescribed_for%></td>
							</tr>
						</tbody>
					</table> <br><br>
					<%}%>
					<%}%>
				</section>
			</section>
		</div>
	</main>
	<!-- <% include includes/navbar.ejs %> -->
	<aside class="main-sidebar one-fourth column">
		<section class="patient-info">
			<img class="profile-img" alt="User profile image"
			  src="/images/userpic.png">
			<section class="details">
				<h2>	<%= data.patient.name %></h2>
			</section>
		</section>
		<nav class="dash-nav" id="dash-nav">
			<ul>
				<li><a href="/patient" class="nav-link"><i class="fas fa-heartbeat"></i> Dashboard</a></li>
				<li><a href="/patient/history" class="nav-link"><i class="fas fa-notes-medical"></i> Medical History</a></li>
				<li><a href="/patient/labtests" class="nav-link"><i class="fas fa-flask"></i> Lab Tests</a></li>
				<li><a href="/patient/medication" class="nav-link active"><i class="fas fa-pills"></i> Medicines Taken</a></li>
				<li><a href="/patient/settings" class="nav-link"><i class="fas fa-cogs"></i> Settings</a></li>
				<li><a href="/patient/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
			</ul>
		</nav>
	</aside>
</body>
</html>
